---
layout: default
---

<div class="ui stackable two column grid">
  <div class="header four wide center aligned column left-header">
    <div class="ui green inverted segment">
      <h1>{{ page.title }}</h1>
    </div>
  </div>

  <div class="twelve wide column">

    {% for author in site.authors %}
    {{ author.class }}
    {{ author['name'] }}
    <div class="row author">
      <div class="ui {{ author.color }} segment">
        <h1><a href="/authors/{{ author.display_name }}"><img class="ui mini circular image" src="{{ author.email | to_gravatar }}" title="{{ author.name }}" style="display: inline;"> {{ author.display_name }}</a></h1>
        <div class="ui top right attached {{ author.color }}  label">About Author</div>
        <p>{{ author.about }}</p>
        <div class="ui grid"><div class="row"><div class="right aligned column">
              <a href="{{ author.web }}"><i class="large globe icon"></i></a>  <a href="http://twitter.com/{{ author.twitter }}"><i class="large twitter icon"></i></a> <a href="http://github.com/{{ author.github }}"><i class="large github icon"></i></a>
        </div></div></div>
      </div>
    </div>

    <br /><br />
    {% endfor %}
  </div>
</div>
