<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">

    <link href='http://fonts.googleapis.com/css?family=Exo+2:400,700' rel='stylesheet' type='text/css'>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>

    <div class="ui thin sidebar small vertical menu">
      <div class="header item">
        Blog
      </div>
        <a class="active item" href="/"><i class="home icon"></i> Home</a>
        <div class="ui left pointing dropdown item">
          Categories <i class="dropdown icon"></i>
          <div class="menu">
            {% for cat in site.categories %}
            <a href="#" class="item">{{ cat[0] }}</a>
            {% endfor %}
          </div>
        </div>

    </div>


    <div class="ui grid">
      <div class="ui fluid small inverted menu">
        <div class="active item">
          <a href="#" class="toggle button"><i class="reorder icon"></i> Blog</a>
        </div>

        <div class="right menu">
          <div class="ui dropdown item">
            Follow us <i class="dropdown icon"></i>
            <div class="menu">
              <a class="item" href="#"><i class="twitter sign icon"></i> Twitter</a>
              <a class="item" href="#"><i class="github icon"></i> Github</a>
              <a class="item" href="#"><i class="facebook sign icon"></i> Facebook</a>
              <a class="item" href="#"><i class="google plus sign icon"></i> Google+</a>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="ui one column page grid">
      <div class="column">
        <div class="row">
          <div class="stackable ui grid">
            <div class="column">
              {{ content }}
            </div>
          </div>
        </div>
      </div>
    </div>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/semantic-ui/transition.js"></script>
    <script type="text/javascript" src="/javascripts/semantic-ui/dropdown.js"></script>
    <script type="text/javascript" src="/javascripts/semantic-ui/sidebar.js"></script>

    <script>
      $(".ui.dropdown").dropdown();
      $(".ui.sidebar").sidebar('attach events', '.toggle.button');
    </script>
  </body>
</html>
