<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">

    <link href='http://fonts.googleapis.com/css?family=Exo+2:400,700' rel='stylesheet' type='text/css'>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="header1"></div>

    <br />

    <div class="ui page grid">
  <div class="row">
    <div class="column">


<div class="ui small menu">
  <a class="active item">
    <i class="home icon"></i> Home
  </a>
    <div class="ui dropdown item">
      Categories <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item">English</a>
        <a class="item">Russian</a>
        <a class="item">Spanish</a>
      </div>
    </div>

  <div class="right menu">
    <a class="item" href="#"><i class="twitter sign icon"></i></a>
    <a class="item" href="#"><i class="github icon"></i></a>
    <a class="item" href="#"><i class="facebook sign icon"></i></a>
    <a class="item" href="#"><i class="google plus sign icon"></i></a>

  </div>
</div>


    </div>
  </div>
</div>












    <div class="ui one column page grid">
      <div class="column">
        <div class="row">

          <div class="stackable ui grid">


            <div class="three wide center aligned fixed column brand">
              <h1>Yellowen Blog</h1>

            </div>

            <div class="one wide column"></div>
            <div class="twelve wide column">
              {{ content }}
            </div>
          </div>
        </div>


      </div>
    </div>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/semantic-ui/transition.js"></script>
    <script type="text/javascript" src="/javascripts/semantic-ui/dropdown.js"></script>
    <script>
      $(".ui.dropdown").dropdown();
    </script>
  </body>
</html>
